<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daodao.mapper.UserMapper">

    <resultMap id="userResultMapper" type="user">
        <result column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
    </resultMap>

    <select id="selectAll" resultMap="userResultMapper">
        select *
        from tb_user;
    </select>

    <select id="selectById" resultMap="userResultMapper">
        select *
        from tb_user
        where id = #{id};
    </select>

    <select id="selectByCondition" resultMap="userResultMapper">
        select *
        from tb_user
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="username != null">and username = #{username}</if>
            <if test="password != null">and password = #{password}</if>
        </where>
        ;
    </select>


</mapper>